.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: start;

  background-color: var(--basic-color1);
  width: calc(30% - 4rem);
  height: calc(100% - 4rem);
  padding: 2rem;
  margin: 0;

  gap: 2rem;
}

.viewer {
  display: flex;
  flex-direction: column;

  background-color: #efefef;
  width: calc(70vw - 4rem);
  padding: 0rem 2rem 0rem 2rem;
}
